$profile:#222831;
$photosContainer:#414752;
$breakpoint-tablet:768px;
$breakpoint-phone:480px;
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Signika',sans-serif;
}


%centerElement{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $profile; 
    background-color: $photosContainer;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $profile; 
    border-radius: 10px;
  }
 


.profile{
    position: fixed;
    z-index: 1;
    width: 18%;
    height: 100vh;
    background: $profile;
    &-header{
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        height: 10%;
        width: 82%;
        align-items: center;
        img{
            width: 2rem;
            height: 2rem;
        }
    }

    &-breed{
        width: 82%;
        height: 20%;
        @extend %centerElement;          
        img{
            width: 70px;
            height: 70px;
            border-radius: 50%;
            border: 2px solid rgb(203, 202, 206);
        }
        .breed-text{
            font-size: 1rem;
            color: #fff;
            margin-top: 10px;
        }
    }

    &-fav{
        @extend %centerElement;
        border-top: 1px solid rgba(255, 255, 255, 0.226);
        border-bottom: 1px solid rgba(255, 255, 255, 0.226);
        flex-direction: row;
        width: 82%;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 25px;
        transition: .5s;
        cursor: pointer;
        img{
            width: 25px;
            height: 25px;
        }
        
        .fav-text{
            color: #fff;
            margin-left: 12px;
        }

        &:hover{
            transition: .5s;
            background-color: rgb(214, 208, 208);
        }
        &:hover .fav-text{
            color:$profile;
        }
    }

    &-explore{
        @extend %centerElement;
        flex-direction: row;
        width: 82%;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.226);
        cursor: pointer;
        i{
            font-size: 1.5rem;
            color: rgb(185, 185, 192);
        }

        .explore-text{
            margin-left: 12px;
            color: #fff;
        }

        &:hover{
            transition: .5s;
            background-color: rgb(214, 208, 208);
        }
        &:hover .explore-text{
            color:$profile;
        }

        &:hover i{
            color: $profile;
        }


        
    
    }

    &-show-breeds{
        @extend %centerElement;
        flex-direction: row;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 82%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.226);
        cursor: pointer;
        .show-breads-text{
            color: #fff;
        }

        i{
            font-size: 1.5rem;
            color: #fff;
            margin-right: 20px;
        }
    
        &:hover{
            transition: .5s;
            background-color: rgb(214, 208, 208);
        }
        &:hover .show-breads-text{
            color:$profile;
        }

        &:hover i{
            color: $profile;
        }

    }
    
}

.show-breeds-list{
    display: block;
}

.hide-breeds-list{
    display: none;
}


.breeds-list{
    z-index: 2222;
    position: fixed;
    top: 47.5%;
    left: 15%;
    width: 20%;
    max-height: 46%;
    overflow-y: scroll;
    li{
        background-color: $profile;
        text-align: center;
        list-style: none;
        color: #fff;
        padding: 10px;
        cursor: pointer;
        &:hover{
            background-color: rgb(185, 185, 192);
            color: $profile;
        }
    }
}

.container-photos{
    position: absolute;
    top: 0;
    left: 15%;
    max-width: 85%;
    min-height: 100vh;
    background: $photosContainer;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 2;
    columns: 4 auto;
    overflow-x: hidden;
}


.photos{
    margin: 10px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
        
    }
}



 
@media (max-width:$breakpoint-tablet){

    %topDesign{
        height: 26%;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    %lineDesign{
        position: relative;
        width: 70%;
        height: 12%;
        background-color: #f3f3f3;
        margin: 2px;        
    }

    .hamburguer-menu{
        position: fixed;
        background-color: #222831;
        border-radius: 50%;
        z-index: 11;
        cursor: pointer;
        left: 3%;
        height: 40px;
        width: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 2%;
        .line{
            @extend %lineDesign;
            transition: .5s;
        }

        .line-one-opened{
            transform: rotate(45deg);
            top: 8px;
            transition: 1s;
        }

        .line-two-opened{
            width: 0;
            transition: .5s;
        }        

        .line-three-opened{
            transform: rotate(-45deg);
            top: -10px;
            transition: .5s;
        }

    }


    .show-full-menu{
        z-index: 10;
    }

    .stopScroll{
        overflow-y: hidden;
    }

    .profile{
        transition: .3s;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;        
        &-header{
            border:1px solid wheat;
            display: none;
        }

        &-breed{
            img{
                border: none;
            }
        }

        &-fav{
            @extend %topDesign;
        }

        &-explore{
            @extend %topDesign;
        }

        &-show-breeds{
            @extend %topDesign;
        }

    }


    .breeds-list{
        width: 100%;
        min-height: 100vh;
        left: 0;
        top: 0;
        z-index: 12;

        span{
            cursor: pointer;
            top: 2%;
            width: 10%;
            position: fixed;
            font-size: 3rem;
            display: block;
            padding-left: 30px;
            i{
                color:white;
            }
        }

    }

    .container-photos{
        border-radius: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        columns: 3 auto;
        margin: 0;
        padding: 0;
        
        .photos{
            margin: 3px 0;
        }
    }
}

@media (max-width:$breakpoint-phone){
    .container-photos{
        columns: 1 auto;
    }

}