@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Signika", sans-serif;
}

.profile-show-breeds, .profile-explore, .profile-fav, .profile-breed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #222831;
  background-color: #414752;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #222831;
  border-radius: 10px;
}

.profile {
  position: fixed;
  z-index: 1;
  width: 18%;
  height: 100vh;
  background: #222831;
}
.profile-header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 10%;
  width: 82%;
  align-items: center;
}
.profile-header img {
  width: 2rem;
  height: 2rem;
}
.profile-breed {
  width: 82%;
  height: 20%;
}
.profile-breed img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid #cbcace;
}
.profile-breed .breed-text {
  font-size: 1rem;
  color: #fff;
  margin-top: 10px;
}
.profile-fav {
  border-top: 1px solid rgba(255, 255, 255, 0.226);
  border-bottom: 1px solid rgba(255, 255, 255, 0.226);
  flex-direction: row;
  width: 82%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 25px;
  transition: 0.5s;
  cursor: pointer;
}
.profile-fav img {
  width: 25px;
  height: 25px;
}
.profile-fav .fav-text {
  color: #fff;
  margin-left: 12px;
}
.profile-fav:hover {
  transition: 0.5s;
  background-color: #d6d0d0;
}
.profile-fav:hover .fav-text {
  color: #222831;
}
.profile-explore {
  flex-direction: row;
  width: 82%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.226);
  cursor: pointer;
}
.profile-explore i {
  font-size: 1.5rem;
  color: #b9b9c0;
}
.profile-explore .explore-text {
  margin-left: 12px;
  color: #fff;
}
.profile-explore:hover {
  transition: 0.5s;
  background-color: #d6d0d0;
}
.profile-explore:hover .explore-text {
  color: #222831;
}
.profile-explore:hover i {
  color: #222831;
}
.profile-show-breeds {
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 82%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.226);
  cursor: pointer;
}
.profile-show-breeds .show-breads-text {
  color: #fff;
}
.profile-show-breeds i {
  font-size: 1.5rem;
  color: #fff;
  margin-right: 20px;
}
.profile-show-breeds:hover {
  transition: 0.5s;
  background-color: #d6d0d0;
}
.profile-show-breeds:hover .show-breads-text {
  color: #222831;
}
.profile-show-breeds:hover i {
  color: #222831;
}

.show-breeds-list {
  display: block;
}

.hide-breeds-list {
  display: none;
}

.breeds-list {
  z-index: 2222;
  position: fixed;
  top: 47.5%;
  left: 15%;
  width: 20%;
  max-height: 46%;
  overflow-y: scroll;
}
.breeds-list li {
  background-color: #222831;
  text-align: center;
  list-style: none;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}
.breeds-list li:hover {
  background-color: #b9b9c0;
  color: #222831;
}
.breeds-list .back-menu {
  display: none;
}

.container-photos {
  position: absolute;
  top: 0;
  left: 15%;
  max-width: 85%;
  min-height: 100vh;
  background: #414752;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  z-index: 2;
  columns: 4 auto;
  overflow-x: hidden;
}

.photos {
  margin: 10px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
}
.photos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

@media (max-width: 768px) {
  .profile-show-breeds, .profile-explore, .profile-fav {
    height: 26%;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .hamburguer-menu .line {
    position: relative;
    width: 70%;
    height: 12%;
    background-color: #f3f3f3;
    margin: 2px;
  }

  .hamburguer-menu {
    position: fixed;
    background-color: #222831;
    border-radius: 50%;
    z-index: 11;
    cursor: pointer;
    left: 3%;
    height: 40px;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 2%;
  }
  .hamburguer-menu .line {
    transition: 0.5s;
  }
  .hamburguer-menu .line-one-opened {
    transform: rotate(45deg);
    top: 8px;
    transition: 1s;
  }
  .hamburguer-menu .line-two-opened {
    width: 0;
    transition: 0.5s;
  }
  .hamburguer-menu .line-three-opened {
    transform: rotate(-45deg);
    top: -10px;
    transition: 0.5s;
  }

  .show-full-menu {
    z-index: 10;
  }

  .stopScroll {
    overflow-y: hidden;
  }

  .profile {
    transition: 0.3s;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .profile-header {
    border: 1px solid wheat;
    display: none;
  }
  .profile-breed img {
    border: none;
  }
  .breeds-list {
    width: 100%;
    min-height: 100vh;
    left: 0;
    top: 0;
    z-index: 12;
  }
  .breeds-list span {
    cursor: pointer;
    top: 2%;
    width: 10%;
    position: fixed;
    font-size: 3rem;
    display: block;
    padding-left: 30px;
  }
  .breeds-list span .back-menu {
    color: white;
    display: block;
  }

  .container-photos {
    border-radius: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    columns: 3 auto;
    margin: 0;
    padding: 0;
  }
  .container-photos .photos {
    margin: 3px 0;
  }
}
@media (max-width: 480px) {
  .container-photos {
    columns: 1 auto;
  }
}

/*# sourceMappingURL=style.css.map */
